[submodule "thirdparty/cpacs_gen"]
	path = thirdparty/cpacs_gen
	url = https://github.com/RlanderRISCSW/cpacs_tigl_gen

[submodule "tests/conftests"]
	path = tests/conftests
	url = https://gitlab.sc.dlr.de/TIGLConf/tigl-confidential-tests.git
